/*-------ASIDE-------*/

aside {
    grid-area: aside;
}

.game-img {
    display: flex;
    justify-content: center;
    grid-area: aside;
    align-items: center;

    & {
        width: 445px;
        animation: movimiento 2.5s linear infinite;
    }
}

@keyframes movimiento {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }

}

.aside-img {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    margin-left: 115px;
    margin-top: 100px;
}