/*-------AYUDA-------*/

.mainAyuda {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.asideAyuda {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cardAyuda {
    grid-area: main;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 120px;
    background-color: transparent;
    color: #858585;
    margin: 10px;
    text-align: center;
    justify-content: center;
}

.cardAyudaAside {
    grid-area: aside;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 120px;
    background-color: transparent;
    color: #858585;
    margin: 10px;
    text-align: center;
    justify-content: center;
}

.tt {
    font-size: 16px;
    margin: 10px;
}

.parrafo {
    font-size: 15px;
}

.cardAyuda:hover {
    background-color: #6b5f641e;
}

.cardAyudaAside:hover {
    background-color: #6b5f641e;
}

.zona {
    display: flex;
    grid-area: zona;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(78, 21, 62, 1) 13%, rgba(102, 34, 68, 1) 100%);

}

.fa-bars {
    grid-area: anclas;
    visibility: hidden;
}